a {
    color:              #6600FF;
    font-family:        Arial, Helvetica, sans-serif;
    font-size:          18px;
	font-weight:		bold;
    text-decoration:    none;
    text-shadow:        1px 1px 2px #000000;
}

a.inarticle {
    color:              #6600FF;
    font-family:        "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:          12px;
	font-weight:		bold;
    text-decoration:    none;
    text-shadow:        none;
}

article {
    background-color:   #A3A3C2;
    border-color:       #E0E0EB;
    border-style:       solid;
    border-width:       2px;
    float:              left;
    height:             976px;
    overflow-x:         hidden;
    overflow-y:         scroll;
    padding:            10px;
    width:              676px;
}

aside {
    background-color:   #666699;
    float:              right;
    height:             1000px;
    width:              260px;
}

body {
    background-color:   #141414;
    font-family:        "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:          12px;
}

nav {
    background-color:   #E0E0EB;
}

#banner {
    background-color:   #1F1F2E;
    color:              white;
    float:              left;
    height:             100px;
    width:              900px;
}

#container {
    margin:             0 auto;
    margin-top:         50px;
    width:              960px;
}

#footer {
    background-color:   #1F1F2E;
    float:              left;
    text-align:         center;
    width:              960px;
}

#footer a {
    color:              #FFFFFF;
    font-family:        Arial, Helvetica, sans-serif;
    font-size:          10px;
	font-weight:		bold;
    text-decoration:    none;
    text-shadow:        1px 1px 2px #000000;
}

#login {
    background-color:   #E0E0EB;
    float:              right;
}

#social {
    background-color:   #1F1F2E;
    color:              white;
    float:              left;
    height:             100px;
    width:              60px;
}

/* -----------------------------------------------
	tumblr hooks
----------------------------------------------- */

.tumblr_posts {	

}

.tumblr_post {		
list-style:			none;
}

.tumblr_title {	
font-family:        "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size:			24px;
font-weight:		bold;
}

.tumblr_body img {	

}

.read_more_container {
	
}

.read_more_container a {
	
}
